{% extends 'core/base.html' %}

{% block title %} Users | {% endblock %}

{% block content %}

<div class="lg:p-10 text-center">
    <h1 class="text-3xl lg:text-6xl text-black">Message</h1>
</div>

<div class="flex">
    <div class="w-1/4 p-4">
        {% for i in users %}
            {% if i.username != request.user.username %}
            <div class="mb-3">
                <div class="p-4 bg-white shadow rounded-xl text-center">
                    <h2 class="mb-3 text-2xl font-semibold">{{ i.username }}
                        {% if i.first_name %} 
                            ({{ i.first_name }})
                        
                        {% endif %}
                    </h2>
                    <p class="mb-3 italic text-gray-700">
                        {% if i.last_name %} 
                            {{ i.last_name }}
                        
                        {% endif %}
                    </p>

                    {% if request.user.username == "sumin" %}
                        {% if i.username == "david" %} 
                        <a href="{% url 'chat' 1 %}" class="px-5 py-3 block rounded-xl text-white bg-orange-600 hover:bg-orange-700" onclick="openChat('{{ i.username }}', this)">Chat</a>
                        {% else %}
                        <a href="{% url 'chat' 2 %}" class="px-5 py-3 block rounded-xl text-white bg-orange-600 hover:bg-orange-700" onclick="openChat('{{ i.username }}', this)">Chat</a>
                        {% endif %}
                    {% endif %}

                    {% if request.user.username == "david" %}
                        {% if i.username == "sumin" %} 
                        <a href="{% url 'chat' 1 %}" class="px-5 py-3 block rounded-xl text-white bg-orange-600 hover:bg-orange-700" onclick="openChat('{{ i.username }}', this)">Chat</a>
                        {% else %}
                        <a href="{% url 'chat' 3 %}" class="px-5 py-3 block rounded-xl text-white bg-orange-600 hover:bg-orange-700" onclick="openChat('{{ i.username }}', this)">Chat</a>
                        {% endif %}
                    {% endif %}

                    {% if request.user.username == "superuser" %}
                        {% if i.username == "sumin" %} 
                        <a href="{% url 'chat' 2 %}" class="px-5 py-3 block rounded-xl text-white bg-orange-600 hover:bg-orange-700" onclick="openChat('{{ i.username }}', this)">Chat</a>
                        {% else %}
                        <a href="{% url 'chat' 3 %}" class="px-5 py-3 block rounded-xl text-white bg-orange-600 hover:bg-orange-700" onclick="openChat('{{ i.username }}', this)">Chat</a>
                        {% endif %}
                    {% endif %}
                    
                    <!-- <a href="#" class="px-5 py-3 block rounded-xl text-white bg-orange-600 hover:bg-orange-700" onclick="openChat('{{ i.username }}', this)">Chat</a> -->
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="w-3/4 p-4 flex flex-col items-center justify-center">
        <div class="text-9xl">💬</div>
        <p class="mt-4 text-xl text-center">Chat with friends!</p>
    </div>

</div>

{% endblock %}

{% block scripts %}
<script>
    function openChat(username, button) {
        const chatUsername = document.getElementById('chat-username');
        const chatbox = document.getElementById('chatbox');
        const chatForm = document.getElementById('chat-form');
        const chatMessageInput = document.getElementById('chat-message-input');
        
        chatUsername.textContent = username;
        chatbox.classList.remove('hidden');

        const previousButton = document.querySelector('.active-chat');
        if (previousButton) {
            previousButton.textContent = 'Chat';
            previousButton.classList.remove('active-chat');
        }

        button.textContent = 'Chatting';
        button.classList.add('active-chat');

        document.getElementById('receiver').value = username;
        
        chatMessageInput.value = '';
        chatMessageInput.focus();
    }

    document.getElementById('chat-form').addEventListener('submit', function (e) {
        e.preventDefault();
        const input = document.getElementById('chat-message-input');
        const message = input.value;

        // process the message
        
        input.value = ''; // clear the input field after sending the message
    });
</script>
{% endblock %}