{% extends 'core/base.html' %}
{% load static %}

{% block title %} About | {% endblock %}

{% block content %}
<div class="lg:p-10 text-center">
    <h1 class="text-3xl lg:text-6xl text-black">About</h1>
</div>

<div class="text-center text-black">
    <p>This is the University platform designed and created by David and Sumin!</p>
    <p>Thats all we really have to say...</p>
    <br>
</div>

<center>    
    <img style="width: 1000px; height: 800px;" alt="Usyd Logo" src="{% static 'Revenue Chart.avif' %}"/>
</center>

{% endblock %}