{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, intitial-scale=1">

        <title>{% block title %}{% endblock %}Usability</title>

        <script src="https://cdn.tailwindcss.com"></script>

        <style>
            .chat-messages {
                height: 400px;
                overflow-y: auto;
            }
        </style>
    </head>

    <body class="bg-gray-100"> 
        <nav class="flex items-center justify-between px-4 py-6 bg-orange-600 shadow-lg">
            <div class="flex items-center justify-stretch">
                <div class="flex items-center justify-normal px-4">

                    <a href="/">
                        <img class="transition ease-in-out delay-80 hover:-translate-y-1 hover:scale-85" style="width: 150px; height: 60px;" alt="Usyd Logo" src="{% static 'Logo.png' %}"/>
                    </a>
                    
                </div>

                <div class="flex items-center justify-normal px-4">
                    <a href="/about/" class="text-xl text-white hover:text-gray-300 hover:underline font-semibold">About</a>
                </div>
                
                {% if request.user.is_authenticated %}
                    <div class="flex items-center justify-normal px-4">
                        <a href="/message/" class="text-xl text-white hover:text-gray-300 hover:underline font-semibold">Message</a>
                    </div>

                    <div class="flex items-center justify-normal px-4">
                        <a href="/rooms/" class="text-xl text-white hover:text-gray-300 hover:underline font-semibold">Community</a>
                    </div>

                    <div class="flex items-center justify-normal px-4">
                        <a href="/resources/" class="text-xl text-white hover:text-gray-300 hover:underline font-semibold">Resources</a>
                    </div>
                {% endif %}
            </div>



            <div class="flex items-center space-x-4">

                {% if request.user.is_authenticated %}
                    <a href="/profile/" class=" text-xl text-white hover:underline hover:text-gray-300 font-bold">Profile</a>


                    <div class="grid grid-rows-2 grid-flow-col gap-2 text-center px-4">
                        <a class="text-white py-0">Signed in as: {{ request.user }}</a>
                        
                        <a class="text-white py-0">I'm feeling: {{ request.user.first_name }}</a>
                    </div>
                    
                    
                    <a href="/logout/" class="px-5 py-3 transition ease-in-out delay-80 hover:-translate-y-1 hover:scale-85 rounded-xl text-white bg-orange-500 hover:bg-orange-700">Log out</a>
                {% else %}
                    <a href="/login/" class="text-white hover:underline hover:text-gray-200">Log in</a>
        
                    <a href="/signup/" class="px-5 py-3 transition ease-in-out delay-80 hover:-translate-y-1 hover:scale-85 rounded-xl text-white bg-orange-500 hover:bg-orange-700"">Sign up</a>
                {% endif %}
            </div>
        </nav>

        {% block content %}
        {% endblock %}

        {% block scripts %}
        {% endblock %}
    </body>

</html>