{% extends 'core/base.html' %}
{% load static %}

{% block title %} Welcome | {% endblock %}

{% block content %}
<div class="lg:p-10 text-center">
    <h1 class="text-3xl lg:text-6xl text-black">Home</h1>
</div>
<div class="text-center">
    <p>This is our Usability Assignment submission for INFO2222.</p>
    <p>The site is divided into 6 sections, of which only two are accessible before signing in:</p>
</div>
<div class="grid grid-cols-3 grid-rows-2">

    <div class="lg:p-10 text-center">
        <h2 class="text-xl lg:text-3xl text-black">Home</h2>
        <p>This page is where the site opens to by default! It helps you navigate the different sections with interesting features.</p>
    </div>
    <div class="lg:p-10 text-center">
        <h2 class="text-xl lg:text-3xl text-black">About</h2>
        <p>This page is here to explain the site's origin and intention.</p>
    </div>
    <div class="lg:p-10 text-center">
        <h2 class="text-xl lg:text-3xl text-black">Message</h2>
        <p>This page is where you can privately message people, as well as see their profile status and social media, should they choose to disclose this information</p>
    </div>
    <div class="lg:p-10 text-center">
        <h2 class="text-xl lg:text-3xl text-black">Community</h2>
        <p>This page is where you can join chat rooms and ask people for advice, all in real time!</p>
    </div>
    <div class="lg:p-10 text-center">
        <h2 class="text-xl lg:text-3xl text-black">Resources</h2>
        <p>This page is where you can see resources and links posted by staff and peers.</p>
    </div>
    <div class="lg:p-10 text-center">
        <h2 class="text-xl lg:text-3xl text-black">Profile</h2>
        <p>This page is where you can access our added functionality. Change your profile status to reflect how you are feeling in real time, and add your social media handles to connect with peers outside of a university environment.</p>
    </div>
</div>
{% endblock %}